POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

FLYWAY_USER=
FLYWAY_PASSWORD=
FLYWAY_URL=jdbc:postgresql://postgresql_database:5432/database

PGUSER=
PGPASSWORD=
PGDATABASE=
PGHOST=postgresql_database
PGPORT=5432
